body {
  width: 600px;
}

#play_button {
  background-color: #4CAF50; /* Green */
	border: none;
	border-radius: 5px;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	font-size: 20px;
}